$light: rgb(220, 157, 236);
$night: rgb(11, 6, 78);
$aurora: rgb(60, 4, 86);
$note: rgb(119, 151, 160);
.btn {
    &.btn-outline-light {
        border-color: $light;
        color: $light;
    }
}

#main {
    height: 90vh;
    background: url("../image/mountain1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    box-shadow: inset 0px  -200px 300px 119px black;
    p {
        color: $note;
    }
}

.container-fluid {
    background-image: -webkit-linear-gradient(270deg, black, $night);
    .container {
        #timeline {
            width: auto;
            height: 100vh;
            .timeline-event {
                width: auto;
                height: 100px;
                .event-left {
                    background: rgb(60, 4, 86);
                }
                .event-right {
                    background: rgb(37, 8, 105);
                }
            }
        }
    }
}